.mast {
    display: flex; align-items: center; gap: 1rem;
}
h1.mast-title {
    font-size: 2.2rem;
    margin: 0
}
h2.mast-subtitle {
    margin: 0
}

.mast-pfp {
    width: 150px;
    flex-shrink: 0; /* prevent flexbox collapsing the image, thanks chatgpt */
}
.mast-pfp img {
    width: 150px;
    height: 150px;
    border-radius: 40%;
}
.mast-txt {
    text-align: justify;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
.social-icons a svg {
    height: 26px;
    width: 26px;
}

.miffy-post-meta {
    margin: 0
}
.miffy-post-meta > h2 {
    margin: 0
}

.dots {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    border-top: 3px dotted var(--accent);
    margin-bottom: 10px;
}
.dots::after {
    content: "";
    left: 0;
    right: 0;
    border-top: 3px dotted var(--accent);
    position: absolute;
    bottom: -4px;
}


.post-card {
  border: 1px solid var(--border);
  border-radius: 8px;
  margin-bottom: 25px;
}

.post-card-inner {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.post-card-image img {
  max-width: 200px;
  border-radius: 6px;
  border-width: 2px;
  overflow: hidden;
  margin: 5px 0 0 0;
  padding: 2px;
}

.post-card-title a {
  text-decoration: none;
}
.post-card-title a:hover {
  text-decoration: underline;
}

/* overrides */
.post-cover {
    margin: 10px 0 0 0;
}
.footer {
    padding: 10px 0 20px 0;
}
a.button.inline.read-more {
    margin: 5px 0 0 0;
    padding: 0 5px;
    background: var(--accent);
    color: var(--background);
}
a.button.inline.read-more:hover {
    color: var(--accent);
    background: var(--background);
    text-decoration: underline;
}
.pagination__title {
    margin-top: 0;
}
